/*Widget Filter*/

.filter__group {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e4e4e4;
}

.filter__group:first-child {
    border: none;
    padding-top: 0;
    margin-top: 0;
}


.filter__title {
    font-size: 18px;
    margin-bottom: 20px;
    color: #212529;
}

.custom-control > input {
    -webkit-print-color-adjust: exact;
    align-items: flex-start;
    color-adjust: exact;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    z-index: 1;
}

.custom-control > input {
    height: 0;
    opacity: 0;
    pointer-events: none;
    width: 0;
    z-index: -1;
}

.custom-checkbox > i {
    border-radius: 2px;
}

.custom-control > i {
    background-color: #fff;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    font-size: 15px;
    height: 1em;
    margin-right: .56em;
    min-width: 1em;
    position: relative;
    transition: border-color .2s ease-in-out;
    width: 1em;
}

.custom-control > i:before {
    background: no-repeat 50%/cover;
    bottom: -1px;
    content: "";
    left: -1px;
    opacity: 0;
    position: absolute;
    right: -1px;
    top: -1px;
    transition: opacity .1s ease-in-out;
}

.custom-control {
    -webkit-print-color-adjust: exact;
    align-items: flex-start;
    color-adjust: exact;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 1em;
    position: relative;
    z-index: 1;
}

.custom-control > input:checked ~ i:before {
    opacity: 1;
}

.custom-checkbox > i:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18'%3E%3Cpath stroke='%23de5434' fill='none' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='m15 5-7 8-5-5'/%3E%3C/svg%3E");
}

.filter__group .filter-btn {
    border-radius: 3px;
    text-transform: none;
    margin-bottom: 5px;
    line-height: 1.4 !important;
}


.filter__group .filter_date {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.filter__group .filter_date input[type="date"] {
    width: 100%;

}

.filter_buttons {
    position: sticky;
    bottom: 70px;
    right: 0;
    padding: 15px;
    z-index: 9999;
    width: 100%;
    background: #ffffff;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.elementor-widget-tpktrade_filter_tz .filter-wrap {
    position: relative;
}


.filter_height {
    /*max-height: 350px;*/
    overflow-y: auto;
}


.show {
    width: auto!important;
    display: inline-flex !important;
    color: #0072BC !important;
    border-bottom: 1px dotted rgba(0, 114, 188, 0.5)!important;
    cursor: pointer!important;
    pointer-events: auto;
    font-weight: 400 !important;
    padding: 0 !important;
    line-height: 1.2!important;
    min-height:auto !important;
    text-transform: none!important;
    background: transparent!important;
    box-shadow: none!important;
    font-size: 14px!important;
    margin-top: 10px;
    transition: all .2s ease;
}

.show:hover {
    color: var(--e-global-color-4e5e66f ) !important;
    border-bottom: 1px dotted rgba(248, 81, 0, 0.5)!important;
}

@media screen and (max-width: 2200px) {
    .filter__group .filter_date {
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 992px) {
    .filter_buttons {
        bottom: 0;
    }
}
